<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SisoDb.Sql2008" 
         connectionString="sisodb:provider=Sql2008;parallelinserts=Off||plain:data source=.\sqlexpress;initial catalog=SisoDbSpecs08;integrated security=SSPI;" />

    <add name="SisoDb.Sql2008.Temp"
         connectionString="sisodb:provider=Sql2008;parallelinserts=Off||plain:data source=.\sqlexpress;initial catalog=SisoDbSpecs08Temp;integrated security=SSPI;" />
  </connectionStrings>
</configuration>