<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="SisoDb.Azure"
             connectionString="data source=.;initial catalog=SisoDbSpecsAzure;integrated security=SSPI;" />

        <add name="pls-speedie_SisoDb.Azure"
             connectionString="data source=.\Sql2012Dev;initial catalog=SisoDbSpecsAzure;integrated security=SSPI;" />

        <add name="pls-gameboy_SisoDb.Azure"
             connectionString="data source=.\Sql2012Dev;initial catalog=SisoDbSpecsAzure;integrated security=SSPI;" />

        <!--
        <add name="SisoDb.Azure"
             connectionString="data source=pls-virtual\sqlexpress2012;initial catalog=SisoDbSpecsAzure;integrated security=SSPI;" />
        -->

        <!--
        <add name="SisoDb.Azure"
             connectionString="server=tcp:.database.windows.net,1433;database=SisoDbSpecsAzure;User ID=;Password=;Trusted_Connection=False;Encrypt=True;" />
        -->
    </connectionStrings>
</configuration>