<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Ensure.That" version="0.5.0" />
  <package id="Machine.Specifications" version="0.4.24.0" />
  <package id="NCore" version="0.19.0.64" />
  <package id="PineCone" version="0.28.0" />
  <package id="SqlServerCompact" version="4.0.8482.1" />
</packages>