<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>    
    <add name="pls-frog_SisoDb.SqlCe4"
         connectionString="sisodb:provider=SqlCe4;parallelinsertmode=Full||plain:data source=d:\Temp\SisoDb\SisoDbSpecs.sdf;enlist=true;"/>
		<add name="pls-gameboy_SisoDb.SqlCe4"
         connectionString="sisodb:provider=SqlCe4;parallelinsertmode=Full||plain:data source=c:\Temp\SisoDb\SisoDbSpecs.sdf;enlist=true;"/>
    
    <add name="pls-frog_SisoDb.SqlCe4.Temp"
         connectionString="sisodb:provider=SqlCe4;parallelinsertmode=Full||plain:data source=d:\Temp\SisoDb\SisoDbSpecsTemp.sdf;enlist=true;" />
		<add name="pls-gameboy_SisoDb.SqlCe4.Temp"
         connectionString="sisodb:provider=SqlCe4;parallelinsertmode=Full||plain:data source=c:\Temp\SisoDb\SisoDbSpecsTemp.sdf;enlist=true;" />
  </connectionStrings>
</configuration>