<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>    
    <add name="SisoDb.SqlCe4"
         connectionString="data source=c:\Temp\SisoDb\SisoDbSpecs.sdf"/>
    <add name="pls-speedie_SisoDb.SqlCe4"
         connectionString="data source=d:\Temp\SisoDb\SisoDbSpecs.sdf"/>
    
    <add name="SisoDb.SqlCe4.Temp"
         connectionString="data source=c:\Temp\SisoDb\SisoDbSpecsTemp.sdf" />
    <add name="pls-speedie_SisoDb.SqlCe4.Temp"
         connectionString="data source=d:\Temp\SisoDb\SisoDbSpecsTemp.sdf" />
  </connectionStrings>
</configuration>