<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SisoDb.Sql2005" 
         connectionString="data source=.\sqlexpress2005;initial catalog=SisoDbSpecs05;integrated security=SSPI;" />
    <add name="SisoDb.Sql2005.Temp"
         connectionString="data source=.\sqlexpress2005;initial catalog=SisoDbSpecs05Temp;integrated security=SSPI;" />
  </connectionStrings>
</configuration>