<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="SisoDb.Sql2005"
             connectionString="data source=.;initial catalog=SisoDbSpecs05;integrated security=SSPI;" />
        <add name="SisoDb.Sql2005.Temp"
             connectionString="data source=.;initial catalog=SisoDbSpecs05Temp;integrated security=SSPI;" />

        <add name="pls-speedie_SisoDb.Sql2005"
             connectionString="data source=.\Sql2012Dev;initial catalog=SisoDbSpecs05;integrated security=SSPI;" />
        <add name="pls-speedie_SisoDb.Sql2005.Temp"
             connectionString="data source=.\Sql2012Dev;initial catalog=SisoDbSpecs05Temp;integrated security=SSPI;" />

        <add name="pls-gameboy_SisoDb.Sql2005"
             connectionString="data source=.\Sql2012Dev;initial catalog=SisoDbSpecs05;integrated security=SSPI;" />
        <add name="pls-gameboy_SisoDb.Sql2005.Temp"
             connectionString="data source=.\Sql2012Dev;initial catalog=SisoDbSpecs05Temp;integrated security=SSPI;" />

        <!--
        <add name="SisoDb.Sql2005"
             connectionString="data source=pls-virtual\sqlexpress2005;initial catalog=SisoDbSpecs05;integrated security=SSPI;" />
        <add name="SisoDb.Sql2005.Temp"
             connectionString="data source=pls-virtual\sqlexpress2005;initial catalog=SisoDbSpecs05Temp;integrated security=SSPI;" />
        -->
    </connectionStrings>
</configuration>