<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SisoDb.Sql2008" 
         connectionString="sisodb:provider=Sql2008||plain:data source=.;initial catalog=SisoDbTests;integrated security=SSPI;" />

    <add name="SisoDb.Sql2008.Temp"
         connectionString="sisodb:provider=Sql2008||plain:data source=.;initial catalog=SisoDbTests.Temp;integrated security=SSPI;" />
    
    <add name="SisoDb.SqlCe4"
         connectionString="sisodb:provider=SqlCe4||plain:data source=d:\#Temp\SisoDb\SisoDbTests.sdf;"/>
    
    <add name="SisoDb.SqlCe4.Temp"
         connectionString="sisodb:provider=SqlCe4||plain:data source=d:\#Temp\SisoDb\SisoDbTestsTemp.sdf;" />
  </connectionStrings>
</configuration>