<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SisoDb.IntegrationTests" 
         connectionString="sisodb:provider=Sql2008||plain:data source=.;initial catalog=SisoDb.IntegrationTests;integrated security=SSPI;" />
    <add name="SisoDb.IntegrationTests.Temp"
         connectionString="sisodb:provider=Sql2008||plain:data source=.;initial catalog=SisoDb.IntegrationTests.Temp;integrated security=SSPI;" />
  </connectionStrings>
</configuration>