<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SisoDb.Sql2012" 
         connectionString="sisodb:provider=Sql2012;parallelinserts=Off||plain:data source=.\sqlexpress;initial catalog=SisoDbSpecs12;integrated security=SSPI;" />

    <add name="SisoDb.Sql2012.Temp"
         connectionString="sisodb:provider=Sql2012;parallelinserts=Off||plain:data source=.\sqlexpress;initial catalog=SisoDbSpecs12Temp;integrated security=SSPI;" />
  </connectionStrings>
</configuration>