<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Ensure.That" version="0.5.0" />
  <package id="ErikEJ.SqlCeBulkCopy" version="2.1.5.1" />
  <package id="NCore" version="0.26.0.73" />
  <package id="PineCone" version="0.51.0" />
  <package id="SqlServerCompact" version="4.0.8482.1" />
</packages>