<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SisoDb.Sql2008"
				 connectionString="data source=.\sqlexpress;initial catalog=SisoDb.Profiling;integrated security=SSPI;"/>
		<add name="pls-frog_SisoDb.SqlCe4"
         connectionString="data source=d:\Temp\SisoDb\SisoDb.Profiling.sdf;Enlist=true;"/>
		<add name="pls-gameboy_SisoDb.SqlCe4"
         connectionString="data source=c:\Temp\SisoDb\SisoDb.Profiling.sdf;Enlist=true;"/>
	</connectionStrings>
</configuration>