<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SisoDb.Sql2008"
				 connectionString="sisodb:provider=Sql2008||plain:Data source=.\sqlexpress;initial catalog=SisoDb.Profiling;integrated security=SSPI;"/>
		<add name="SisoDb.SqlCe4"
         connectionString="sisodb:provider=SqlCe4||plain:data source=d:\Temp\SisoDb\SisoDb.Profiling.sdf;"/>
		<add name="pls-gameboy_SisoDb.SqlCe4"
         connectionString="sisodb:provider=SqlCe4||plain:data source=c:\Temp\SisoDb\SisoDb.Profiling.sdf;max database size=2000"/>
	</connectionStrings>
</configuration>