<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SisoDb.SqlProfiler" 
         connectionString="data source=.;initial catalog=SisoDbSpecsProfiler;integrated security=SSPI;" />
    <add name="SisoDb.SqlProfiler.Temp"
         connectionString="data source=.;initial catalog=SisoDbSpecsProfilerTemp;integrated security=SSPI;" />
  </connectionStrings>
</configuration>