<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SisoDb.SqlProfiler"
         connectionString="data source=.;initial catalog=SisoDbSpecsProfiler;integrated security=SSPI;" />
    <add name="SisoDb.SqlProfiler.Temp"
         connectionString="data source=.;initial catalog=SisoDbSpecsProfilerTemp;integrated security=SSPI;" />

    <add name="pls-speedie_SisoDb.SqlProfiler"
         connectionString="data source=.\Sql2012Dev;initial catalog=SisoDbSpecsProfiler;integrated security=SSPI;" />
    <add name="pls-speedie_SisoDb.SqlProfiler.Temp"
         connectionString="data source=.\Sql2012Dev;initial catalog=SisoDbSpecsProfilerTemp;integrated security=SSPI;" />

    <add name="pls-gameboy_SisoDb.SqlProfiler"
         connectionString="data source=.\Sql2012Dev;initial catalog=SisoDbSpecsProfiler;integrated security=SSPI;" />
    <add name="pls-gameboy_SisoDb.SqlProfiler.Temp"
         connectionString="data source=.\Sql2012Dev;initial catalog=SisoDbSpecsProfilerTemp;integrated security=SSPI;" />
  </connectionStrings>
</configuration>